.header-container {
    background-color: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 108px;
    padding: 0 48px;
  }
  
  .header-title {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #623CEA;
  }
  
  .header-links {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .header-title:hover {
    color: #5432cf;
  }
  
  .link-header {
    display: flex;
    justify-content: center;
    min-width: 220px;
  }
  
  .link-selected {
    border-bottom: 2px solid #623CEA;
  }
  
  .profile-logout {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }
  
  .description-card {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .header-button {
    background-color: #623CEA;
    padding: 8px 24px 8px;
    border-radius: 4px;
  
    color: white;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }
  
  .header-button:hover,
  .header-button:active,
  .header-button:focus {
    color: white;
    background-color: #5432cf;
  }
  
  
  .gray-text {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #A6A6A6;
  }
  
  @media all and (max-width: 768px) {
    .header-container {
      padding: 32px 16px;
    }
  
  }
