<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css" />
    <link rel="stylesheet" href="./profile.css">
    <link rel="stylesheet" href="../../css/body.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/72a7ea144e.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header-container">
        <div class="header-links">
            <a to="/" class="header-title">Sheesh</a>
        </div>
    </div>

    <section class="section">
        <div class="profile-container">
            <div class="profile-card">
                <p class="profile-title">Perfil</p>
                <p class="profile-subtitle"> Modifique aqui os seus dados. Mantenha-os sempre atualizados.</p>
                <div class="columns profile-form-container">
                    <div class="column is-half">
                        <div class="profile-form">
                            <p class="profile-form-title">Alterar dados</p>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input id="tradeName" name="tradeName" class="input is-medium profile-input"
                                        type="text" placeholder="Nome fantasia">
                                    <div class="icon profile-icon is-left">
                                        <i class="fa-solid fa-user"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input id="razao-social" name="razao-social" class="input is-medium profile-input" type="text"
                                        placeholder="Razão social">
                                    <div class="icon profile-icon is-left">
                                        <i class="fa-solid fa-building"></i>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input id="cnpj" name="cnpj" class="input is-medium profile-input" type="text"
                                        placeholder="CNPJ">
                                    <div class="icon profile-icon is-left">
                                        <i class="fa-solid fa-id-card"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input id="email" name="email" class="input is-medium profile-input" type="email"
                                        placeholder="Email">
                                    <div class="icon profile-icon is-left">
                                        <i class="fa-solid fa-envelope"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control has-icons-left">
                                    <input id="password" name="password" class="input is-medium profile-input" type="password"
                                        placeholder="Senha">
                                    <div class="icon profile-icon is-left">
                                        <i class="fa-solid fa-lock"></i>
                                    </div>
                                </div>
                            </div>

                            <button class="button is-primary is-fullwidth is-medium profile-button">Alterar</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</html>