p {
  font-family: 'Nunito Sans';
  font-weight: 400;
  color: #000;
}


.profile-container {
  width: 100%;
  height: inherit;
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-form-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.profile-card {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.profile-title {
  margin-bottom: 8px;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 28.8px;
  color: #000;
  text-align: left;
}

.profile-subtitle {
  font-family: Nunito;
  font-weight: 300;
  font-size: 14.4px;
  margin-bottom: 20px;
  text-align: left;
}


.profile-form-container {
  width: 100%;
}

.profile-form {
  width: 100%;
}

.profile-icon {
  color: #000 !important;
  font-size: 20px;
  margin: 2px 0;
}

.profile-input::placeholder {
  color: #000 !important;
  font-weight: 600;
}

.profile-button {
  width: 120px !important;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 8px;
  background-color: #623CEA;
  color: white;
  font-size: 22.4px;
}

.profile-button:hover {
  color: white;
  background-color: #5432cf;
}

.profile-redirect {
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.profile-redirect a {
  margin-left: 4px;
}

.profile-redirect p:first-child {
  margin-right: 3px;
}

.profile-redirect p:last-child {
  color: #623CEA;
  font-weight: 700;
}

.profile-redirect p:first-child,
.profile-redirect p:last-child {
  display: inline-block;
}

.profile-error {
  font-size: 12px;
  font-weight: 300;
}

.profile-error p {
  color: #bb1d2a;
}

@media all and (max-width: 768px) {
  .profile-container {
    padding: 32px 16px
  }

  .profile-button {
    width: 100% !important;
  }
}