@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,800,800i,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,400i,700,800,800i,900i&display=swap");
.rounded-container {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.colorful-container {
  background-color: #9ccef7;
  /* Change the color as desired */
}

p {
  font-family: 'Nunito Sans';
  font-weight: 400;
  color: #000;
}

button {
  color: #5432cf;
}

.profile-container {
  width: 100%;
  height: inherit;
  padding: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-form-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.profile-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-title {
  margin-bottom: 8px;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 28.8px;
  color: #000;
  text-align: left;
}

.profile-subtitle {
  font-family: Nunito;
  font-weight: 300;
  font-size: 14.4px;
  margin-bottom: 20px;
  text-align: left;
}

.profile-form-container {
  width: 100%;
}

.profile-form {
  width: 100%;
}

.profile-icon {
  color: #000 !important;
  font-size: 20px;
  margin: 2px 0;
}

.profile-input::-webkit-input-placeholder {
  color: #000 !important;
  font-weight: 600;
}

.profile-input:-ms-input-placeholder {
  color: #000 !important;
  font-weight: 600;
}

.profile-input::-ms-input-placeholder {
  color: #000 !important;
  font-weight: 600;
}

.profile-input::placeholder {
  color: #000 !important;
  font-weight: 600;
}

.profile-button {
  width: 120px !important;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 8px;
  background-color: #623CEA;
  color: white;
  font-size: 22.4px;
}

.profile-button:hover {
  color: white;
  background-color: #5432cf;
}

.profile-redirect {
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.profile-redirect a {
  margin-left: 4px;
}

.profile-redirect p:first-child {
  margin-right: 3px;
}

.profile-redirect p:last-child {
  color: #623CEA;
  font-weight: 700;
}

.profile-redirect p:first-child,
.profile-redirect p:last-child {
  display: inline-block;
}

.profile-error {
  font-size: 12px;
  font-weight: 300;
}

.profile-error p {
  color: #bb1d2a;
}

@media all and (max-width: 768px) {
  .profile-container {
    padding: 32px 16px;
  }
  .profile-button {
    width: 100% !important;
  }
}

.processes-list {
  padding: 48px;
}

h3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

.subtitle {
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 16px;
}

.selective-process-card {
  padding-top: 18px;
  padding-bottom: 18px;
}

.sp-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  padding-top: 30px;
}

.sp-table-row {
  background-color: white;
  -webkit-box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 21px rgba(0, 0, 0, 0.08);
}

th {
  padding: 15px 15px;
  padding-top: 30px;
}

td {
  padding: 15px;
}

tr td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-left: 24px;
}

tr td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-right: 24px;
}

tr th:first-child {
  padding-left: 24px;
}

tr th:last-child {
  padding-right: 24px;
}

.edit-icon {
  color: #FFC803;
}

.trash-icon {
  margin-left: 30px;
  color: #F56868;
}

.title {
  font-family: Quicksand;
  font-size: 24px;
  font-weight: bold;
}

.not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 48px;
}

@media all and (max-width: 768px) {
  .processes-list {
    padding: 32px 16px;
  }
  .top-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .title-container {
    text-align: center;
    margin-right: 0;
  }
  .top-container a {
    width: 100%;
    padding: 20px 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .not-found {
    padding: 32px 16px;
    text-align: center;
  }
}

p {
  font-family: 'Nunito Sans';
  font-weight: 400;
  color: #000;
}

.profile-container {
  width: 100%;
  height: inherit;
  padding: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-form-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.profile-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile-title {
  margin-bottom: 8px;
  font-family: 'Quicksand';
  font-weight: 700;
  font-size: 28.8px;
  color: #000;
  text-align: left;
}

.profile-subtitle {
  font-family: Nunito;
  font-weight: 300;
  font-size: 14.4px;
  margin-bottom: 20px;
  text-align: left;
}

.profile-form-container {
  width: 100%;
}

.profile-form {
  width: 100%;
}

.profile-icon {
  color: #000 !important;
  font-size: 20px;
  margin: 2px 0;
}

.profile-input::-webkit-input-placeholder {
  color: #000 !important;
  font-weight: 600;
}

.profile-input:-ms-input-placeholder {
  color: #000 !important;
  font-weight: 600;
}

.profile-input::-ms-input-placeholder {
  color: #000 !important;
  font-weight: 600;
}

.profile-input::placeholder {
  color: #000 !important;
  font-weight: 600;
}

.profile-button {
  width: 120px !important;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 8px;
  background-color: #623CEA;
  color: white;
  font-size: 22.4px;
}

.profile-button:hover {
  color: white;
  background-color: #5432cf;
}

.profile-redirect {
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.profile-redirect a {
  margin-left: 4px;
}

.profile-redirect p:first-child {
  margin-right: 3px;
}

.profile-redirect p:last-child {
  color: #623CEA;
  font-weight: 700;
}

.profile-redirect p:first-child,
.profile-redirect p:last-child {
  display: inline-block;
}

.profile-error {
  font-size: 12px;
  font-weight: 300;
}

.profile-error p {
  color: #bb1d2a;
}

@media all and (max-width: 768px) {
  .profile-container {
    padding: 32px 16px;
  }
  .profile-button {
    width: 100% !important;
  }
}

.process-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px;
}

.selection-process-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 36px;
  margin-bottom: 24px;
}

.selection-process-finished {
  background-color: #ebebeb;
}

.selection-process-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description-text {
  margin-top: 16px;
  margin-bottom: 16px;
}

.deadline-text {
  font-size: 14px;
}

.gray-text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #a6a6a6;
}

.process-board-not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  padding: 50px;
}

@media all and (max-width: 768px) {
  .process-board {
    padding: 32px 16px;
  }
  .selection-process-card-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .process-board-not-found {
    padding: 32px 16px;
    text-align: center;
  }
  .name-text,
  .deadline-text,
  .description-text,
  .contact-text {
    text-align: left;
  }
}

/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
  min-height: 100vh;
}

#root {
  min-height: inherit;
}

a:hover {
  color: #623cea !important;
}

.header-container {
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 108px;
  padding: 0 48px;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #623cea;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title:hover {
  color: #5432cf;
}

.link-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 220px;
}

.link-selected {
  border-bottom: 2px solid #623cea;
}

.profile-logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description-card {
  margin-top: 16px;
  margin-bottom: 16px;
}

.header-button {
  background-color: #623cea;
  padding: 8px 24px 8px;
  border-radius: 4px;
  color: white;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.header-button:hover,
.header-button:active,
.header-button:focus {
  color: white;
  background-color: #5432cf;
}

.gray-text {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #a6a6a6;
}

@media all and (max-width: 768px) {
  .header-container {
    padding: 32px 16px;
  }
}
/*# sourceMappingURL=mystyles.css.map */