<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vaga de estágio - {tituloVaga}</title>
    <link rel="stylesheet" href="css/mystyles.css">
    <style>
      .rounded-container {
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
      }
      .colorful-container {
        background-color: #9ccef7; /* Change the color as desired */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="rounded-container colorful-container">
            <h1 class="title">{tituloVaga}</h1>
            <p class="subtitle">Requisitos</p>
          </div>
  
          <div class="rounded-container colorful-container">
            <h2 class="title">Descrição das atividades</h2>
            <p>...</p>
          </div>
        </div>
  
        <div class="column">
          <div class="rounded-container colorful-container">
            <h2 class="title">Benefícios</h2>
            <p>...</p>
          </div>
  
          <div class="rounded-container colorful-container">
            <h2 class="title">Remuneração</h2>
            <p>...</p>
          </div>
  
          <div class="rounded-container colorful-container">
            <h2 class="title">Carga horária</h2>
            <p>...</p>
          </div>
  
          <div class="rounded-container colorful-container">
            <h2 class="title">Local de trabalho</h2>
            <p>...</p>
          </div>
  
          <div class="rounded-container colorful-container">
            <h2 class="title">Modalidade</h2>
            <p>...</p>
          </div>
  
          <div class="rounded-container colorful-container">
            <h2 class="title">Prazo da vaga</h2>
            <p>...</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>