<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css" />
    <link rel="stylesheet" href="./public.css">
    <link rel="stylesheet" href="../../css/body.css">
    <link rel="stylesheet" href="../../css/header.css">
    <script src="https://kit.fontawesome.com/72a7ea144e.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Vagas</h1>
                <h2 class="subtitle">Gerenciamento de vagas de estágio</h2>
            </div>
        </div>
    </section> -->

    <div class="header-container">
        <div class="header-links">
            <a to="/" class="header-title">Sheesh</a>
        </div>
    </div>

    <section class="section">
        <div class="process-board">
            <div class="card selection-process-card">
                <div class="selection-process-card-header">
                    <h6 class="name-text title">Estágio</h6>
                    <div class="gray-text deadline-text">
                        Disponível até xx/xx/xxxx
                    </div>
                </div>
                <div class="description-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vel diam eu augue tincidunt fermentum.
                    Maecenas suscipit ipsum et arcu posuere, eget vulputate tortor molestie. Sed finibus feugiat metus, in
                    sollicitudin ante luctus ut. Nulla leo urna, tristique in nisl ac, finibus volutpat arcu. Mauris
                    facilisis pulvinar urna, sed lacinia risus porttitor quis. Sed nec nisi vitae ligula elementum
                    hendrerit. Nullam tincidunt dapibus nunc, eu interdum arcu iaculis sit amet. In molestie eget augue a
                    ultrices. Cras sed laoreet nunc. Ut malesuada sit amet nisi eget posuere. Maecenas vel nulla quis nunc
                    condimentum vulputate eget eu est. Duis tristique diam vel dapibus sagittis. Curabitur pretium egestas
                    risus, et varius diam laoreet eget. Curabitur viverra, urna ut suscipit egestas, nunc turpis auctor dui,
                    quis ullamcorper arcu enim non lacus. Suspendisse egestas ante dui.
                </div>
                <div class="contact-text gray-text">Contato: meucontato@contato.con(tato)</div>
            </div>
        </div>
    </section>

</html>