/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,800,800i,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,400i,700,800,800i,900i&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f4f4f4;
  min-height: 100vh;
}

#root {
  min-height: inherit;
}

a:hover {
  color: #623CEA !important;
}

.header-container {
    background-color: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 108px;
    padding: 0 48px;
  }
  
  .header-title {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #623CEA;
  }
  
  .header-links {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .header-title:hover {
    color: #5432cf;
  }
  
  .link-header {
    display: flex;
    justify-content: center;
    min-width: 220px;
  }
  
  .link-selected {
    border-bottom: 2px solid #623CEA;
  }
  
  .profile-logout {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
  }
  
  .description-card {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  .header-button {
    background-color: #623CEA;
    padding: 8px 24px 8px;
    border-radius: 4px;
  
    color: white;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }
  
  .header-button:hover,
  .header-button:active,
  .header-button:focus {
    color: white;
    background-color: #5432cf;
  }
  
  
  .gray-text {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #A6A6A6;
  }
  
  @media all and (max-width: 768px) {
    .header-container {
      padding: 32px 16px;
    }
  
  }







  .process-board {
    display: flex;
    flex-direction: column;
    padding: 48px;
  }
  
  .selection-process-card {
    display: flex;
    flex-direction: column;
    padding: 24px 36px;
    margin-bottom: 24px;
  }
  
  .selection-process-finished {
    background-color: #ebebeb;
  }
  
  .selection-process-card-header {
    display: flex;
    justify-content: space-between;
  }
  
  .description-text {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  
  
  .title {
    font-family: Quicksand;
    font-size: 24px;
    font-weight: bold;
  }
  
  .deadline-text {
    font-size: 14px;
  }
  
  .gray-text {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #A6A6A6;
  }
  
  .process-board-not-found {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 50px;
  }
  
  @media all and (max-width: 768px) {
    .process-board {
      padding: 32px 16px;
    }
  
    .selection-process-card-header {
      flex-direction: column;
      align-items: center;
    }
  
    .process-board-not-found {
      padding: 32px 16px;
      text-align: center;
    }
  
    .name-text, .deadline-text, .description-text, .contact-text {
      text-align: left;
    }
  }